.footer {
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: var(--footer-height);
	padding: 0 16px;
	position: absolute;
	width: 100%;
}

.rview-info {
	align-items: center;
	column-gap: 4px;
	display: flex;
	justify-content: center;
}

.theme-switcher {
	align-items: center;
	column-gap: 4px;
	display: flex;
	justify-content: right;
	text-align: right;
}

a.footer-icon {
	display: inline-block;
	height: 20px;
	text-decoration: none;
	width: 20px;
}

.footer-icon.chosen {
	color: var(--interactive-color);
	cursor: default;
}

@media only screen and (max-width: 500px) {
	.footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-left-padding {
		display: none;
	}

	.rview-info {
		justify-content: left;
	}
}