.search-results {
	min-width: 100%;
	width: 100%;
	position: relative;
	overflow: auto;

	.search-hits {
		margin: 12px 0 0;
		padding: 0;

		.search-hit {
			align-items: center;
			column-gap: 4px;
			display: flex;
			margin-bottom: 8px;
			padding: 0 16px;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}

			.search-hit-icon {
				height: 20px;
				min-width: 20px;
				width: 20px;
			}

			.search-hit-link {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	.total {
		font-size: 14px;
		font-style: italic;
		left: 0;
		margin: 8px 0 12px;
		position: sticky;
		text-align: center;
	}
}