.search-results {
	margin: 20px 0;
	min-width: 100%;
}

.search-hits {
	margin: 0;
	padding: 0;
}

.search-hit {
	align-items: center;
	column-gap: 4px;
	display: flex;
	margin-bottom: 8px;
	padding: 0 20px;
	width: 100%;
}

.search-hit:last-child {
	margin-bottom: 0;
}

.search-hit-icon {
	height: 20px;
	width: 20px;
}

.search-hit-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search-hit-score {
	cursor: default;
	/* Useful for debugging */
	display: none;
	font-size: 12px;
	font-style: italic;
	margin-left: 8px;
	opacity: 0.4;
	white-space: pre;
}

.search-separator {
	max-width: 80%;
	margin: 12px auto;
}