{
	"dir": "{{ .Name }}",
	"sort": "{{ .Sort }}",
	"order": "{{ .Order }}",
	"breadcrumbs": [
		{{ range .Breadcrumb }}
		{
			"text": "{{ .Text }}"
		},
		{{ end }}
		{ "_c": "extra object to fix trailing comma" }
	],
	"entries": [
		{{ range .Entries }}
		{
			"leaf": "{{ .Leaf }}",
			"is_dir": {{ .IsDir }},
			"size": {{ .Size }},
			"mod_time": {{ .ModTime.Unix }}
		},
		{{ end }}
		{ "_c": "extra object to fix trailing comma" }
	]
}
