<!-- This template represents a dir entry (another dir or file) -->

<!-- Required params -->
{{ $entry := .Entry }}
{{ $href := .Href }}
<!-- Optional params -->
{{ $target := .Target }}
{{ $title := .Title }}
{{ $onclick := or .Onclick ";" }}

<div>
	<a class="entry" href="{{ $href }}" target="{{ $target }}" title="{{ $title }}" onclick="{{ $onclick | js }}">
		<div class="icon-wrapper">
			{{ if $entry.ThumbnailURL }}
			<!-- Show thumbnail if available -->
			<img
				src="{{ $entry.ThumbnailURL }}"
				class="thumbnail"
				loading="lazy"
				onload="this.classList.add('loaded')"
				onerror="this.classList.add('failed')">
			</img>
			<div class="loader"></div>
			{{ end }}

			<!-- Always render icon because we can use it as a fallback -->
			<div class="icon">
				{{ embedFileIcon $entry.IconName }}
			</div>
		</div>

		<span class="entry-filename">{{ trim $entry.Filename 60 }}</span>
	</a>
</div>