<!-- This template represents a dir entry (another dir or file) -->

<!-- Required params -->
{{ $entry := .Entry }}
{{ $href := .Href }}
<!-- Optional params -->
{{ $target := .Target }}
{{ $title := .Title }}
{{ $onclick := .Onclick}}
{{ $download := .Download}}
{{ $showPreviewIcon := .ShowPreviewIcon}}

{{ $attrs := "" }}

{{ if $onclick }}
{{ $attrs = printf `%s onclick="%s"` $attrs $onclick }}
{{ end }}

{{ if $download }}
{{ $attrs = printf `%s download="%s"` $attrs $download }}
{{ end }}

<a class="entry" href="{{ $href }}" target="{{ $target }}" title="{{ $title }}" {{ attr $attrs }}>
	<div class="icon-wrapper">
		{{ if $entry.ThumbnailURL }}
		<!-- Show thumbnail if available -->
		<img
			src="{{ $entry.ThumbnailURL }}"
			class="thumbnail"
			loading="lazy"
			onload="this.classList.add('loaded')"
			onerror="this.classList.add('failed')">
		</img>
		<div class="loader"></div>

		{{ else if (and (not $entry.IsDir) $showPreviewIcon) }}

		<!-- Show preview helper icon -->
		{{ $previewIcon := "download" }}
		{{ $title := "Can download" }}
		{{ if $entry.CanPreview }}
		{{ $previewIcon = "eye" }}
		{{ $title = "Can preview" }}
		{{ end }}
		<span class="preview-icon" title="{{ $title }}">
			{{ embedIcon $previewIcon }}
		</span>

		{{ end }}

		<!-- Always render icon because we can use it as a fallback -->
		<div class="icon">
			{{ embedFileIcon $entry.IconName }}
		</div>
	</div>

	<span class="entry-filename">{{ $entry.Filename }}</span>
</a>