{{ define "footer.html" }}
<div class="footer">
	<!-- Empty element for grid -->
	<div class="footer-left-padding"></div>

	<div class="rview-info">
		<span title="Commit time: {{ .CommitTime }}">Rview&nbsp;[rev.&nbsp;{{ .ShortGitHash }}]</span>
		<span>•</span>
		<a href="https://github.com/ShoshinNikita/rview" target="_blank" title="GitHub Repo" class="icon-button footer-icon">
			{{ embedIcon "github" }}
		</a>
	</div>

	<div class="theme-switcher">
		<a id="light-theme-button" title="Light Theme" class="icon-button footer-icon" onclick="switchTheme(lightTheme)">
			{{ embedIcon "sun" }}
		</a>
		<a id="system-theme-button" title="System Theme" class="icon-button footer-icon" onclick="switchTheme(systemTheme)">
			{{ embedIcon "disc" }}
		</a>
		<a id="dark-theme-button" title="Dark Theme" class="icon-button footer-icon" onclick="switchTheme(darkTheme)">
			{{ embedIcon "moon" }}
		</a>
	</div>
</div>

<script>
	const lightThemeButton = document.getElementById("light-theme-button");
	const systemThemeButton = document.getElementById("system-theme-button");
	const darkThemeButton = document.getElementById("dark-theme-button");

	function updateThemeButtons() {
		let highlight = null, reset = [];

		switch (getLocalStorageTheme()) {
			case lightTheme:
				highlight = lightThemeButton;
				reset = [systemThemeButton, darkThemeButton];
				break;

			case systemTheme:
				highlight = systemThemeButton;
				reset = [lightThemeButton, darkThemeButton];
				break;

			case darkTheme:
				highlight = darkThemeButton;
				reset = [lightThemeButton, systemThemeButton,];
				break;
		}

		const className = "chosen";

		highlight.classList.add(className);
		for (let i = 0; i < reset.length; i++) {
			reset[i].classList.remove(className);
		}
	}

	updateThemeButtons();

	window.addEventListener(themeChangeEventName, updateThemeButtons);
</script>
{{ end }}