<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- The value is updated in /static/js/theme.js. Default values is the dark mode background color. -->
	<meta name="theme-color" content="#0d1117">

	<link rel="manifest" href="/static/pwa/manifest.json" crossorigin="use-credentials">

	<link rel="icon" type="image/png" href="/static/icons/logo/logo.png">
	<link rel="apple-touch-icon" href="/static/icons/logo/logo.png">

	{{ if .IsNotFound }}
	<title>Rview • ???</title>
	{{ else }}
	<title>Rview • {{ .Dir }}</title>
	{{ end }}

	<script src="{{ prepareStaticLink `/static/js/theme.js` }}"></script>

	<link rel="stylesheet" href="{{ prepareStaticLink `/static/css/index.css` }}">
	<link rel="stylesheet" href="{{ prepareStaticLink `/static/css/entry.css` }}">
	<link rel="stylesheet" href="{{ prepareStaticLink `/static/css/footer.css` }}">
	<link rel="stylesheet" href="{{ prepareStaticLink `/static/css/global.css` }}">
	<link rel="stylesheet" href="{{ prepareStaticLink `/static/css/preview.css` }}">
	<link rel="stylesheet" href="{{ prepareStaticLink `/static/css/search-results.css` }}">
</head>

<body>
	<!-- Fix click events on iOS: https://stackoverflow.com/a/39712411 -->
	<div id="app" onclick="void(0);">
		<div class="g-loader new-page-loader"></div>

		<div class="header blurred">
			<ul class="breadcrumbs">
				{{ range $index, $breadcrumb := .Breadcrumbs }}
				<li class="breadcrumb">
					<a href="{{ $breadcrumb.Link }}" class="breadcrumb-link">{{ $breadcrumb.Text }}</a>

					{{ if eq (len $.Breadcrumbs) (add $index 1) }}
					<div class="dir-info g-tooltip-wrapper" onmouseover="updateDirInfoTooltipPosition()">
						<div class="icon"> {{ embedIcon "info" }} </div>

						<div class="g-tooltip g-property-list">
							{{ if $.DirCount }}
							<div>
								<span class="g-property-name">Dirs:</span>
								<span class="g-property-value g-nowrap">{{ $.DirCount }}</span>
							</div>
							{{ end }}
							{{ if $.FileCount }}
							<div>
								<span class="g-property-name">Files:</span>
								<span class="g-property-value g-nowrap">{{ $.FileCount }}</span>
							</div>
							<div>
								<span class="g-property-name">Size:</span>
								<span class="g-property-value g-nowrap">{{ formatSize $.TotalFileSize }}</span>
							</div>
							{{ end }}
							{{ if and (not $.DirCount) (not $.FileCount) }}
							<span class="g-property-name">Empty directory</span>
							{{ end }}
						</div>
					</div>
					{{ end }}
				</li>
				{{ end }}
			</ul>

			<div class="search">
				<div class="search-input-wrapper">
					<input class="search-input" type="text" placeholder="Search for files" autocomplete="off" value="{{ .Search }}">
					<span class="search-icon">
						{{ embedIcon "search" }}
					</span>
					<a href="#" class="g-icon-button search-icon refresh" title="Manually refresh the search index" onclick="refreshSearchIndex(event); return false">
						{{ embedIcon "refresh-cw" }}
					</a>
				</div>

				<div class="search-results-wrapper blurred"></div>
			</div>

			<div class="sort-selector-wrapper">
				<label for="sort-selector">Sort By</label>

				{{ $sort := "namedirfirst" }}
				{{ if .Sort }}
				{{ $sort = .Sort }}
				{{ end }}

				{{ $order := "asc" }}
				{{ if .Order }}
				{{ $order = .Order }}
				{{ end }}

				{{ $selectedSort := printf "%s_%s" $sort $order }}

				{{ $disabled := "" }}
				{{ $title := "Sort By" }}
				{{ if .Search }}
				{{ $disabled = "disabled"}}
				{{ $title = "Sorting mode for search results can't be changed" }}
				{{ end }}
				<select id="sort-selector" title="{{ $title }}" {{ attr $disabled }}>
					{{
					range $value, $text := (dict
						"namedirfirst_asc"  "Name: A – Z"
						"namedirfirst_desc" "Name: Z – A"
						"size_asc"          "Size: Small – Large"
						"size_desc"         "Size: Large – Small"
						"time_asc"          "Time: Old – New"
						"time_desc"         "Time: New – Old"
					)
				}}
					<!-- Set "selected" during template rendering to avoid flickering -->
					{{ $selected := "" }}
					{{ if eq $value $selectedSort }}
					{{ $selected = "selected" }}
					{{ end }}
					<option value="{{ $value }}" {{ attr $selected }}>{{ $text }}</option>
					{{ end }}
				</select>
			</div>
		</div>

		{{ if .IsNotFound }}
		<div class="not-found-message">
			<span>Directory <i>"{{ .Dir }}"</i> not found<br><br>Go back to <a href="/ui/">Home</a>?</span>
		</div>
		{{ else if .Entries }}
		<div class="files">
			{{ range .Entries }}

			{{ $href := .WebDirURL }}
			{{ $target := "_self" }}
			{{ $title := printf "Open %q" .Filename }}
			{{ $onclick := "" }}

			{{ if not .IsDir }}
			{{ $href = "#" }}
			{{ $target = "" }}
			{{ $title = printf "Preview %q\n\nFile Size: %s\nMod Time: %s" .Filename .HumanReadableSize .HumanReadableModTime }}
			{{ $onclick = printf `openPreview('%s'); return false` (jsEscape .Filename) }}
			{{ end }}

			{{
				template "entry.html" (dict
					"Entry" .
					"Href" $href
					"Target" $target
					"Title" $title
					"Onclick" $onclick
				)
			}}

			{{ end }}
		</div>
		{{ end }}

		{{ template "footer.html" . }}

		{{ template "preview.html" . }}
	</div>

	<!-- Dir Info tooltip -->
	<script>
		const updateDirInfoTooltipPosition = () => {
			const header = document.getElementsByClassName("header")[0];
			const icon = document.querySelector(".dir-info .icon");
			const tooltip = document.querySelector(".dir-info .g-tooltip");

			const iconBox = icon.getBoundingClientRect();
			const headerBox = header.getBoundingClientRect();
			const tooltipBox = tooltip.getBoundingClientRect();

			tooltip.style.top = `${iconBox.bottom}px`;

			let diff = iconBox.left + tooltipBox.width - headerBox.right;
			if (diff < 0) { diff = 0; }
			tooltip.style.left = `${iconBox.left - diff}px`;
		};
	</script>

	<!-- Search -->
	<script>
		const searchInput = document.getElementsByClassName("search-input")[0];
		const searchResultWrapper = document.getElementsByClassName("search-results-wrapper")[0];

		let timeoutId = null;
		let abortController = null;
		let lastSearchValue = null;
		function search() {
			const searchValue = searchInput.value;
			if (!searchValue || !searchValue.length || searchValue.length < 3) {
				showSearchInfoMessage("Continue typing...");
				return;
			}
			if (searchValue === lastSearchValue) {
				return;
			}

			window.clearInterval(timeoutId);
			if (abortController) {
				abortController.abort();
			}

			showSearchInfoMessage("Loading...");
			timeoutId = window.setTimeout(() => {
				abortController = new AbortController();

				let statusCode = 0;
				let result = "Unknown Error";
				let aborted = false;
				fetch(
					"/api/search?" + new URLSearchParams({
						search: searchValue,
						"limit": 12,
						ui: "true"
					}),
					{
						signal: abortController.signal,
					},
				).
					then(resp => {
						statusCode = resp.status;
						return resp.text();
					}).
					then(res => {
						result = res;
					}).
					catch(err => {
						if (err.name && err.name == "AbortError") {
							aborted = true;
						}
						result = `${err}`;
					}).
					finally(() => {
						if (aborted) {
							return;
						}

						// Display error.
						if (statusCode != 200) {
							let textToShow = `Error: ${result}`;
							if (statusCode == 204) {
								textToShow = "No Results";
							}
							showSearchInfoMessage(textToShow);
							return;
						}

						// Display results.
						searchResultWrapper.innerHTML = result;
						lastSearchValue = searchValue;
					});
			}, 300);
		};

		function showSearchInfoMessage(text) {
			searchResultWrapper.innerHTML = "";

			const div = document.createElement("div");
			div.classList.add("search-result-message");
			div.appendChild(document.createTextNode(text));

			searchResultWrapper.appendChild(div);
		};

		let isSearchResultsVisible = false;

		// Show search results on focus.
		searchInput.addEventListener("focus", ev => {
			isSearchResultsVisible = true;
			searchResultWrapper.style["display"] = "block";
			search();
		});

		// Hide search results on click outside of the input or the search results modal window.
		window.addEventListener("click", ev => {
			if (!isSearchResultsVisible) {
				return;
			}

			let hide = true;
			let target = ev.target;
			while (target) {
				if (target.tagName === "A" && target.href) {
					// Link was clicked - hide search results.
					break;
				}
				if (target === searchResultWrapper || target == searchInput) {
					hide = false;
					break;
				}
				target = target.parentElement;
			}
			if (hide) {
				isSearchResultsVisible = false;
				searchResultWrapper.style["display"] = "";
			}
		});

		// Search on input.
		searchInput.addEventListener("input", search);

		let isSearchIndexRefreshInProgress = false;
		function refreshSearchIndex(ev) {
			if (isSearchIndexRefreshInProgress) {
				console.warn("search index refresh is already in progress");
				return;
			}
			if (!confirm("Refresh of the search index can take a while. Start the process?")) {
				return;
			}

			isSearchIndexRefreshInProgress = true;

			const target = ev.target;

			// Disable buttons and inputs.
			target.closest(".search").classList.add("refreshing");
			//
			target.classList.add("disabled", "spinning");
			//
			const oldSearchInputPlaceholder = searchInput.placeholder;
			searchInput.disabled = true;
			searchInput.placeholder = "Refreshing the search index...";

			// Enable buttons and inputs after the full animation cycle.
			const onAnimationIteration = () => {
				if (isSearchIndexRefreshInProgress) {
					return;
				}

				target.removeEventListener("animationiteration", onAnimationIteration);

				target.closest(".search").classList.remove("refreshing");
				//
				target.classList.remove("disabled", "spinning");
				//
				searchInput.disabled = false;
				searchInput.placeholder = oldSearchInputPlaceholder;
			};
			target.addEventListener("animationiteration", onAnimationIteration);

			let errorText = "";
			fetch("/api/search/refresh-index", {
				method: "POST"
			}).
				then(resp => {
					if (resp.status != 200) {
						return resp.text();
					}
				}).
				then(text => {
					errorText = text;
				}).
				catch(err => {
					errorText = `${err}`;
				}).
				finally(() => {
					isSearchIndexRefreshInProgress = false;

					if (!errorText) {
						return;
					}

					const msg = `couldn't refresh the search index: ${errorText}`;
					console.error(msg);

					// TODO: display error on page?
					window.alert("Error: " + msg);
				});
		}

		// Open 'Search Results' page on Enter.
		searchInput.addEventListener("keydown", ev => {
			if (ev.keyCode === 13) {
				document.querySelector(".search-results [data-search-preview-link]")?.click();
			}
		});
	</script>

	<!-- Sort Selector -->
	<script>
		const sortSelector = document.getElementById("sort-selector");

		sortSelector.addEventListener("change", ev => {
			const parts = ev.target.value.split("_");

			const params = new URLSearchParams(window.location.search);
			params.set("sort", parts[0]);
			params.set("order", parts[1]);

			window.location.search = params.toString();
		});
	</script>

	<!-- Preview -->
	<script>
		// Function "openPreview" can be found in "preview.html".

		window.addEventListener("load", () => {
			const params = new URLSearchParams(window.location.search);

			// The first history entry must not contain "preview" param.
			// Otherwise, "Go back" would take user back to the previous page.
			//
			// Worth noting that this logic doesn't work in some browsers,
			// see: https://github.com/whatwg/html/issues/7832
			const paramsWithoutPreview = new URLSearchParams(params);
			paramsWithoutPreview.delete("preview");
			const url = window.location.pathname + (paramsWithoutPreview.size > 0 ? "?" + paramsWithoutPreview.toString() : "");
			history.replaceState(history.state, "", url);

			const previewFilename = params.get("preview");
			if (previewFilename) {
				openPreview(previewFilename);
			}
		})
	</script>

	<!-- New page loader -->
	<script>
		window.addEventListener("click", (ev) => {
			const link = ev.target.closest("a");
			if (!link) {
				return;
			}
			const href = link.getAttribute("href");
			if (!href || !(href.startsWith("/ui/") || href.startsWith("/ui-search"))) {
				return;
			}
			const url = URL.parse(link.href); // 'URL.parse' can parse only absolute urls
			if (!url) {
				console.warn(`couldn't parse href "${link.href}"`);
				return;
			}

			const [pathParts, keepSearchInput] = url.pathname === "/ui-search"
				? [["ui", "Search Results"], true]
				: [url.pathname.split("/"), false];
			const newBreadcrumbs = [];
			pathParts.forEach(text => {
				if (!text) {
					return;
				}
				text = text === "ui" ? "Home" : text;

				const a = document.createElement("a");
				a.href = "#"; // use fake breadcrumbs because the page will be reloaded anyway
				a.classList.add("breadcrumb-link");
				a.innerText = decodeURIComponent(text);

				const li = document.createElement("li");
				li.classList.add("breadcrumb", "new-page-breadcrumb");
				li.append(a, " ");

				newBreadcrumbs.push(li);
			});
			newBreadcrumbs[newBreadcrumbs.length - 1].append(document.querySelector(".dir-info").cloneNode(true));

			// We hide the files, and hence the browser can't restore the scroll position after 'Go back'.
			// So, we have to do it ourselves.
			history.replaceState({ ...history.state, scrollY: window.scrollY }, "");

			// Show spinner and hide the files.
			closePreview();
			document.querySelector("#app").classList.add("loading");

			// Add fake breadcrumbs, keep the existing ones to be able to restore them (see 'pageshow' event listener).
			const breadcrumbs = document.querySelector(".breadcrumbs");
			breadcrumbs.append(...newBreadcrumbs);

			// Reset search input if needed.
			if (!keepSearchInput) {
				searchInput.value = "";
			}
			searchInput.blur();

			// Disable all pointer events to conceal the fact that we are using fake breadcrumbs and the old dir info.
			document.querySelector(".header").style.pointerEvents = "none";
		});

		window.addEventListener("pageshow", ev => {
			if (ev.persisted) {
				// Page was restored from the bfcache - revert breadcrumbs and hide the spinner.
				// https://web.dev/articles/bfcache#observe-page-restored
				document.querySelectorAll(".breadcrumbs .new-page-breadcrumb").forEach(v => v.remove());
				document.querySelector("#app").classList.remove("loading");
				document.querySelector(".header").style.pointerEvents = "";
			}

			if (history.state?.scrollY) {
				window.scrollTo(0, history.state.scrollY);
			}

			// Setting input value via HTML doesn't always work after Go Back - use JS.
			searchInput.value = "{{ .Search }}";
		});
	</script>
</body>

</html>