<!-- Preview -->
<style>
	.preview-wrapper {
		/*
			Use "visibility: hidden" to be able to scroll selector on first open and
			to prevent all pointer events: https://stackoverflow.com/a/34529598.
		*/
		background-color: #00000000;
		display: grid;
		grid-template-rows: auto min-content;
		overflow: hidden;
		position: fixed;
		padding: 3vh 5vw;
		row-gap: 10px;
		top: 0;
		visibility: hidden;
		width: 100%;
		z-index: 3;
	}

	.preview-wrapper.opened {
		visibility: visible;
	}

	.preview-close-layer {
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.preview-wrapper.opened .preview-close-layer {
		background-color: var(--preview-background-color);
	}

	.preview {
		column-gap: 10px;
		display: grid;
		grid-template-columns: auto 300px;
		padding: 20px;
		position: relative;
		width: 100%;
	}

	.preview-content {
		/* We have to hide outline because we use tabindex */
		outline: none;
		position: relative;
		width: 100%;
	}

	.preview-carousel {
		display: flex;
		flex-flow: row nowrap;
		height: 100%;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scrollbar-width: none;
		width: 100%;
	}

	/* Hide scrollbar in Safari and Chrome */
	.preview-carousel::-webkit-scrollbar {
		display: none;
	}

	.preview-carousel-element {
		flex: none;
		position: relative;
		scroll-snap-align: center;
		scroll-snap-stop: always;
		width: 100%;
	}

	.preview-image,
	.preview-text,
	.preview-audio,
	.preview-video {
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}

	.preview-image {
		object-fit: contain;
	}

	.preview-text {
		border: 1px solid var(--border-color);
		margin: 0;
		overflow-y: auto;
		padding: 5px;
	}

	.preview-audio {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
	}

	.preview-video {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	:root {
		--switch-preview-button-size: 50px;
	}

	/*
		We use "position: sticky" and "width: 0" to prevent buttons from
		interfering with the scroll. We can't use non-zero width because it
		creates extra space to scroll, that causes lags on mobile devices.
	*/
	.switch-preview-button {
		height: 100%;
		left: 0;
		opacity: 0.2;
		position: sticky;
		width: 0;
		z-index: 1;
	}

	@media(hover: hover) and (pointer: fine) {
		.switch-preview-button:hover {
			opacity: 0.8;
		}
	}

	.switch-preview-button a {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 100%;
		width: fit-content;
	}

	.switch-preview-button svg {
		height: var(--switch-preview-button-size);
		width: var(--switch-preview-button-size);
	}

	.switch-preview-button.prev svg {
		transform: rotate(90deg);
	}

	.switch-preview-button.next {
		left: calc(100% - var(--switch-preview-button-size));
	}

	.switch-preview-button.next svg {
		transform: rotate(270deg);
	}

	.switch-preview-button.hidden {
		display: none;
	}

	.preview-side-panel {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.preview-file-info {
		font-size: 18px;
		word-break: break-all;
	}

	.preview-file-info>* {
		margin-bottom: 10px;
	}

	.preview-file-info-key {
		opacity: 0.6;
	}

	.preview-file-info-value {
		font-style: italic;
	}

	.preview-close-button,
	.preview-download-button {
		height: 30px;
		margin: 0 auto;
		min-height: 30px;
		min-width: 30px;
		width: 30px;
	}

	/* Display close button only on medium and small displays. */
	.preview-close-button {
		display: none;
	}

	@media only screen and (max-width: 1200px) {
		.preview {
			grid-template-columns: none;
			grid-template-rows: repeat(2, max-content);
			row-gap: 10px;
		}

		.preview-content {
			/* Move content to the bottom */
			grid-row-start: -1;
		}

		.preview-side-panel {
			display: grid;
			grid-template:
				"file-info close-button"
				"file-info download-button";
			column-gap: 10px;
			flex-direction: row;
		}

		.preview-file-info {
			grid-area: file-info;
			overflow: hidden;
			white-space: nowrap;
		}

		.preview-file-info>* {
			margin-bottom: 3px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.preview-close-button,
		.preview-download-button {
			margin: 0;
		}

		.preview-close-button {
			display: block;
		}

		.preview-download-button {
			align-self: end;
			grid-area: download-button;
		}

		.preview-close-button {
			grid-area: close-button;
		}
	}

	@media only screen and (max-width: 600px) {
		.preview-wrapper {
			padding: 0;
		}

		.preview-close-layer {
			pointer-events: none;
		}

		.preview {
			padding-left: 0;
			padding-right: 0;
		}

		.preview-side-panel {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
</style>

<!-- Selector -->
<style>
	.selector {
		column-gap: 10px;
		display: grid;
		grid-auto-columns: 120px;
		grid-auto-flow: column;
		margin: 0;
		overflow-x: auto;
		padding: 5px;
		scroll-behavior: smooth;
	}

	.selector-thumbnail-wrapper {
		display: contents;
	}

	.selector-thumbnail-wrapper .thumbnail {
		max-height: 50px;
	}

	.selector-thumbnail-wrapper .icon {
		height: 50px;
		width: 50px;
	}
</style>

<div class="preview-wrapper">
	<a href="#" class="preview-close-layer" title="Close Preview" onclick="closePreview(); return false"></a>

	<div class="preview card">
		<!--
			Use tabindex to prevent scroll on pressing left/right arrows - we implement
			this behavior ourselves. Without it we would scroll 2 elements at once.
			See: https://github.com/facebook/react/issues/25462#issuecomment-1274775248
		-->
		<div class="preview-content" tabindex="-1">
			<div class="preview-carousel">
				<div class="switch-preview-button prev">
					<a href="#" class="icon-button" title="Previous" onclick="swipePreview(-1); return false">
						{{ embedIcon "chevron-down" }}
					</a>
				</div>
				<div class="switch-preview-button next">
					<a href="#" class="icon-button" title="Next" onclick="swipePreview(1); return false">
						{{ embedIcon "chevron-down" }}
					</a>
				</div>

				{{ $index := 0 }}
				{{ range .Entries }}

				{{ if not .CanPreview}}
				{{ continue }}
				{{ end }}

				<div class="preview-carousel-element" id="preview-carousel-element-{{ $index }}" data-filename="{{ .Filename }}">
					{{ if eq .FileType "image" }}
					<!-- TODO: add loader -->
					<img class="preview-image" src="{{ .ThumbnailURL }}" loading="lazy"></img>
					{{ else if eq .FileType "text" }}
					<pre class="preview-text"></pre>
					{{ else if eq .FileType "audio" }}
					<audio class="preview-audio" src="{{ .OriginalFileURL }}" controls></audio>
					{{ else if eq .FileType "video" }}
					<video class="preview-video" src="{{ .OriginalFileURL }}" controls></video>
					{{ end }}
				</div>

				{{ $index = add $index 1 }}

				{{ end }}
			</div>
		</div>

		<div class="preview-side-panel">
			<div class="preview-file-info">
				<div>
					<span class="preview-file-info-key">Filename:</span>
					<span class="preview-file-info-value" data-type="filename"></span>
				</div>
				<div>
					<span class="preview-file-info-key">Size:</span>
					<span class="preview-file-info-value nowrap" data-type="size"></span>
				</div>
				<div>
					<span class="preview-file-info-key">Mod Time:</span>
					<span class="preview-file-info-value nowrap" data-type="mod_time"></span>
				</div>
			</div>

			<a class="icon-button preview-close-button" title="Close Preview" onclick="closePreview(); return false">
				{{ embedIcon "x" }}
			</a>

			<a class="icon-button preview-download-button" title="Download the original file" href="" download="">
				{{ embedIcon "download" }}
			</a>
		</div>
	</div>

	<ul class="selector card">
		{{ range .Entries }}

		{{ if .CanPreview }}
		<div id="selector-thumbnail-{{ .Filename }}" class="selector-thumbnail-wrapper">
			{{
				template "entry.html" (dict
					"Entry" .
					"Href" "#"
					"Title" .Filename
					"Onclick" (printf `openPreview('%s'); return false` .Filename)
				)
			}}
		</div>
		{{ end }}

		{{ end }}
	</ul>
</div>

<script>
	// Don't use "const entries = {{ .Entries }}" to avoid IDE errors.
	const entries = JSON.parse("{{ marshalJSON .Entries }}").filter(v => { return v.can_preview; });

	const previewWrapper = document.getElementsByClassName("preview-wrapper")[0];
	const previewContent = document.getElementsByClassName("preview-content")[0];
	const previewCarousel = document.getElementsByClassName("preview-carousel")[0];
	const fileInfos = document.getElementsByClassName("preview-file-info-value");
	const previousPreviewButton = document.querySelector(".switch-preview-button.prev");
	const nextPreviewButton = document.querySelector(".switch-preview-button.next");

	const thumbnailIDPrefix = "selector-thumbnail-";
	const previewElementIDPrefix = "preview-carousel-element-";

	// Prevent scroll with middle mouse button.
	previewCarousel.addEventListener("mousedown", ev => {
		if (event.which === 2) {
			ev.preventDefault();
		}
	});

	// Sometimes rapid resize or orientation change can cause incorrect scroll position.
	// So, we manually scroll to the correct preview.
	window.addEventListener("resize", () => {
		document.getElementById(previewElementIDPrefix + currentIndex).scrollIntoView({ behavior: "instant" });
	});

	// Update preview on scroll.
	const observer = new IntersectionObserver(
		(entries, opts) => {
			if (!isPreviewOpened) {
				return;
			}
			for (const entry of entries) {
				// We always get intersectionRatio slightly less or more that a threshold value
				// because the callback is called not immediately. So, we can simply use '>' to open
				// a correct preview.
				if (entry.intersectionRatio > 0.5) {
					openPreview(entry.target.dataset.filename, false);
					return;
				}
			}
		},
		{
			root: previewContent,
			threshold: 0.5
		},
	);
	// Sometimes we could open a wrong preview on page load (when query has "preview" param).
	// This issue was caused by initial intersection events. To fix it we start observing
	// only after a small delay.
	setTimeout(() => {
		for (const elem of document.querySelectorAll(".preview-carousel-element")) {
			observer.observe(elem);
		}
	}, 150);

	// Set height of .preview-wrapper with JS as a workaround for this bug:
	// https://bugzilla.mozilla.org/show_bug.cgi?id=1663634
	//
	// More about mobile browser URL bars: https://github.com/bokand/URLBarSizing.
	(
		new ResizeObserver(() => {
			previewWrapper.style["height"] = `${window.innerHeight}px`;
		})
	).observe(document.getElementById("app"));

	// All attempts to set the right height for <pre> element using CSS have failed.
	(
		new ResizeObserver(() => {
			const computedStyles = getComputedStyle(document.body);
			const switchPreviewButtonSize = Number(computedStyles.getPropertyValue('--switch-preview-button-size').replace("px", ""));

			const rect = previewContent.getBoundingClientRect();

			for (const elem of document.querySelectorAll(".preview-image,.preview-text,.preview-video,.preview-audio")) {
				let width = `${rect.width - switchPreviewButtonSize * 2}px`;
				let height = `${rect.height}px`;
				let maxHeight = "";

				switch (true) {
					case elem.classList.contains("preview-video"):
						// Set "max-height" instead of "height" to avoid gap between controls and video.
						height = "";
						maxHeight = `${rect.height}px`;
						break;

					case elem.classList.contains("preview-audio"):
						height = "";
						break;

					case elem.classList.contains("preview-image"):
						// Images don't have any controls. Therefore we can make the slightly bigger.
						width = `${rect.width - 20}px`;
						break;
				}

				elem.style["width"] = width;
				elem.style["height"] = height;
				elem.style["max-height"] = maxHeight;
			}
		})
	).observe(previewContent);

	const stopAnyPlayback = () => {
		for (const v of document.querySelectorAll(".preview-audio,.preview-video")) {
			v.pause();
			v.currentTime = 0;
		}
	};

	let isPreviewOpened = false;
	let currentFilename = null;
	let currentIndex = null;

	const openPreview = (filename, scroll = true) => {
		const ok = _openPreview(filename, scroll);
		if (!ok) {
			// Just in case.
			closePreview();
			return;
		}

		isPreviewOpened = true;
		setPreviewInQuery(filename);

		document.body.classList.add("noscroll");
		previewWrapper.classList.add("opened");
	};

	// _openPreview returns true when preview for a file with the passed name
	// was successfully prepared. This function should be called only by "openPreview".
	const _openPreview = (newFilename, scroll) => {
		if (currentFilename === newFilename) {
			// Everything should be already set.
			return true;
		}

		const newIndex = entries.findIndex(v => v.filename == newFilename);
		if (newIndex === -1) {
			console.warn(`can't open preview for "${newFilename}": no such file with preview`);
			return false;
		}

		const oldFilename = currentFilename;
		currentFilename = newFilename;
		currentIndex = newIndex;

		const entry = entries[currentIndex];

		// Scroll selector.
		const thumbnailWrapper = document.getElementById(thumbnailIDPrefix + entry.filename);
		const thumbnail = thumbnailWrapper.children[0];
		const selector = thumbnailWrapper.parentElement;
		selector.scrollLeft = thumbnail.offsetLeft - selector.offsetLeft + thumbnail.clientWidth / 2 - selector.clientWidth / 2;;

		const previewElement = document.getElementById(previewElementIDPrefix + `${newIndex}`);

		// Scroll previews.
		if (scroll) {
			previewElement.scrollIntoView({ behavior: "instant" });
		}

		stopAnyPlayback();

		// Load the file content.
		if (entry.file_type === "text") {
			(async () => {
				const pre = previewElement.querySelector("pre");

				if (pre.innerHTML) {
					// The file content should be already downloaded.
					return;
				}

				if (entry.size > 3 << 20) {
					pre.innerHTML = `* File is too big to preview: ${entry.human_readable_size}`;
					return;
				}

				pre.innerHTML = `* Loading "${entry.filename}"...\n`;

				let statusCode = 0;
				let textToShow = "";
				fetch(entry.original_file_url).
					then(resp => {
						statusCode = resp.status;
						return resp.text();
					}).
					then(text => textToShow = text).
					catch(err => textToShow = `${err}`).
					finally(() => {
						if (statusCode != 200) {
							textToShow = `* Error: ${textToShow}`;
						} else {
							pre.innerHTML = "";
						}

						const escapedText = document.createTextNode(textToShow);
						pre.appendChild(escapedText);
					});
			})();
		}

		// Update file info.
		for (const fileInfo of fileInfos) {
			const type = fileInfo.attributes["data-type"];
			switch (type.value) {
				case "filename":
					fileInfo.innerHTML = entry.filename;
					break;
				case "size":
					fileInfo.innerHTML = entry.human_readable_size;
					break;
				case "mod_time":
					fileInfo.innerHTML = entry.human_readable_mod_time;
					break;
			}
		}

		// Update link to the original file.
		const downloadButton = document.getElementsByClassName("preview-download-button")[0];
		downloadButton.href = entry.original_file_url;
		downloadButton.download = entry.filename;

		// On the first open current filename is empty.
		if (oldFilename) {
			document.getElementById(thumbnailIDPrefix + oldFilename).classList.remove("selected");
		}
		document.getElementById(thumbnailIDPrefix + currentFilename).classList.add("selected");

		// Hide switch preview buttons if necessary.
		if (currentIndex === 0) {
			previousPreviewButton.classList.add("hidden");
		} else {
			previousPreviewButton.classList.remove("hidden");
		}

		if (currentIndex === entries.length - 1) {
			nextPreviewButton.classList.add("hidden");
		} else {
			nextPreviewButton.classList.remove("hidden");
		}

		return true;
	};

	const swipePreview = (direction) => {
		let newIndex = currentIndex;

		if (direction > 0) {
			newIndex++;
		} else {
			newIndex--;
		}

		if (newIndex < 0 || entries.length <= newIndex) {
			return;
		}

		document.getElementById(previewElementIDPrefix + newIndex).scrollIntoView({ behavior: "instant" });
	};

	const closePreview = () => {
		stopAnyPlayback();
		setPreviewInQuery("");

		isPreviewOpened = false;

		previewWrapper.classList.remove("opened");
		document.body.classList.remove("noscroll");
	};

	const setPreviewInQuery = (filename) => {
		const params = new URLSearchParams(window.location.search);
		const firstTime = !params.get("preview");
		if (filename) {
			params.set("preview", filename);
		} else {
			params.delete("preview");
		}

		const currentPath = window.location.pathname + window.location.search;
		const encodedParams = params.toString();
		const newPath = window.location.pathname + (encodedParams ? "?" + encodedParams : "");
		if (currentPath === newPath) {
			return;
		}

		// Use History API to avoid page reload: https://stackoverflow.com/a/41542008.
		if (firstTime) {
			// Push state for first preview.
			history.pushState(null, "", newPath);
		} else {
			// Replace state because we don't want to create a new history entry for every preview.
			history.replaceState(null, "", newPath);
		}
	};

	// Event listeners

	window.addEventListener("popstate", (ev) => {
		// Close preview on "Go back".
		const params = new URLSearchParams(window.location.search);
		if (!params.get("preview")) {
			closePreview();
		}
	});


	window.addEventListener("keydown", (ev) => {
		if (!isPreviewOpened) {
			return;
		}

		if (ev.key === "ArrowRight") {
			swipePreview(1);

		} else if (ev.key === "ArrowLeft") {
			swipePreview(-1);

		} else if (ev.key === "Escape") {
			closePreview();
		}
	});
</script>