/* Site for colors: https://www.color-hex.com */

:root {
	--background-color: #ffffff;
	--font-color: #212121;
	--shadow-color: #0000004d;
	--shadow-color-2: #000000b4;
	--border-color: #babfc4;

	--hover-background-color: #e5f3ff;
	--hover-border-color: #b2dbff;

	--interactive-color: #3f98ff;
	--interactive-color--accent: #258bff;

	--loader-border-color: #f0f4f4;
	--loader-border-color--accent: var(--interactive-color);

	--header-background-color: #fafafaea;

	--preview-background-color: #000000b0;

	--sort-order-icon-filter: none;

	--scrollbar-track-color: var(--background-color);
	--scrollbar-thumb-color: #e1e1e1;

	/* Values of the following variables don't depend on the theme */

	--image-box-shadow: 2px 2px 5px 0px var(--shadow-color);
	--hover-border: 1px solid var(--hover-border-color);
	--header-box-shadow: 0px 3px 5px 0px var(--shadow-color);
	--preview-card-box-shadow: 0px 2px 5px 0px var(--shadow-color-2);

	--footer-height: 40px;
}

[data-theme="dark"] {
	--background-color: #0d1117;
	--font-color: #ffffffa0;
	--shadow-color: #010409;
	--shadow-color-2: var(--shadow-color);
	--border-color: #30363d;

	--hover-background-color: #21262c;
	--hover-border-color: #373f49;

	--interactive-color--accent: #58a6ff;

	--loader-border-color: var(--font-color);

	--header-background-color: #161b22f8;

	--sort-order-icon-filter: invert(0.7);

	--scrollbar-thumb-color: #414141;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
	margin: 0;
}

#app {
	min-height: 100vh;
	min-width: 300px;
	padding-bottom: var(--footer-height);
	position: relative;
}

a {
	color: var(--interactive-color);
	cursor: pointer;
	text-decoration: none;
}

@media(hover: hover) and (pointer: fine) {
	a:hover {
		color: var(--interactive-color--accent);
		text-decoration: underline;
	}
}

a.icon-button {
	color: var(--border-color);
}

@media(hover: hover) and (pointer: fine) {
	a.icon-button:hover:not(.disabled) {
		color: var(--interactive-color--accent);
	}
}

input,
select {
	background-color: #00000000;
	border: none;
	border-bottom: 1px solid var(--border-color);
	/* For Safari */
	border-radius: 0;
	color: var(--font-color);
	outline: none;
}

select {
	background-color: var(--header-background-color);
	cursor: pointer;
}

input:focus,
select:focus {
	border-color: var(--interactive-color--accent);
}

svg {
	height: 100%;
	width: 100%;
	/*
		Prevent SVG becoming the event.target.
		Source: https://schalkneethling.medium.com/preventing-svg-from-becoming-the-event-target-3e9c039dfdd0
	 */
	pointer-events: none;
}

.card {
	background-color: var(--background-color);
	border-radius: 3px;
	box-shadow: var(--preview-card-box-shadow);
}

.nowrap {
	white-space: nowrap;
	word-break: keep-all;
}

/* Scrollbar */

* {
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	height: 7px;
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
}